._refind_highlight {
	outline: 5px solid rgba(255, 0, 0, 0.4);
	-webkit-transition: all 0.3 ease-in-out;
}
._refind_highlight_focus {
	outline-color : rgba(255, 0, 0, 0.8); 
}
._refind_wrapper {
	background: rgba(10, 10, 10, 0.85);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	left: 0;
	line-height: 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}
._refind_input {
	background: transparent;
	border: none;
	color: #ccc;
	float: left;
	display: block;
	padding: 20px;
	-webkit-transition: all 0.2 ease-in-out;
	width: 40%;
}
._refind_count {
	color: #555;
	font-family: sans-serif;
	font-weight: 300;
	float: right;
	text-align: right;
	padding: 20px;
}
._refind_input,
._refind_count {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 20px;
}
._refind_input:focus {
	outline: none;
	color: #ddd;
}
